# build
.next
out
node_modules

# telemetry
.next/cache

# git
.git
.gitignore

# env
.env
.env.local
.env.production
.env.development
*.local

# docker
Dockerfile
docker-compose*
.dockerignore

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# system
.DS_Store
Thumbs.db
.vscode
.idea